include README.md
include MetaCHIP/MetaCHIP_add_group_to_tree.R
include MetaCHIP/MetaCHIP_circos_HGT.R
include MetaCHIP/MetaCHIP_phylo.hmm
include MetaCHIP/Ranger-DTL-Dated.linux
include MetaCHIP/Ranger-DTL-Dated.mac
include MetaCHIP/FastTree
include MetaCHIP/FastTree.c
include MetaCHIP/VERSION
